:root {
    --page-max-width: 710px;
}



body {
    padding: 0;
    padding-left: 1rem;
}

main {
    max-width: var(--page-max-width);
    margin: auto;
}

.copyright {
    margin: auto;
    max-width: var(--page-max-width);
}
