        .main {
            text-align: center;
            width: 200px;
            height: 200px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -100px;
            margin-top: -100px;
        }

        .main h2 {
            margin-bottom: 0.1px;
            line-height: 0;
        }

        hr::after {
            content: "❧";
            color: #212721;
            width: 10rem;
            display: inline-block;
            background: linear-gradient(to bottom, transparent calc(50% - 0.5px), #212721 calc(50% - 0.5px), #212721, #212721 calc(50% + 0.5px), transparent calc(50% + 0.5px));
            text-shadow: 0px 0px 3px #fff;
            font-size: 1.5rem;
        }

        hr {
            padding: 0.3rem 0;
            border: none;
            width: 100%;
            display: block;
            text-align: center;
            height: 1.5rem;
        }